@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "./App.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
body {
  background-color: green; /* más HBO que Netflix */
  color: aqua;
}

/* Ocultar scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  